**/target/
**/.idea
**/reports
**/logs
*.iml
.DS_Store

.pnp.*
**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!**/.yarn/sdks
/node_modules

.changelog
.docusaurus/
build/

screenshots/
test-output/
