<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ MIT License
  ~
  ~ Copyright (c) 2023, Wasiq Bhamla
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  -->

<Configuration status="warn" name="Boyka-Logs">
    <Properties>
        <Property name="log-path">logs</Property>
        <Property name="error-log">boyka-log-error</Property>
        <Property name="all-log">boyka-log-all</Property>
        <Property name="test-log">boyka-log-main</Property>
        <Property name="log-pattern">
            [%d{HH:mm:ss.SSS}] [%-5level] [%tn] - %msg (%logger{1}:%method:%L) %throwable{short.message}%n
        </Property>
    </Properties>
    <ThresholdFilter level="debug"/>
    <Appenders>
        <Console name="console-log">
            <PatternLayout pattern="${log-pattern}"/>
            <ThresholdFilter level="debug"/>
        </Console>
        <RollingFile name="all-log-appender" fileName="${log-path}/${all-log}.log"
                     filePattern="${log-path}/${all-log}-%d{yyyy-MM-dd}.log" append="false" immediateFlush="true">
            <PatternLayout>
                <Pattern>${log-pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="test-log-appender" fileName="${log-path}/${test-log}.log"
                     filePattern="${log-path}/${test-log}-%d{yyyy-MM-dd}.log" append="false" immediateFlush="true">
            <PatternLayout>
                <Pattern>${log-pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="error-log-appender" fileName="${log-path}/${error-log}.log"
                     filePattern="${log-path}/${error-log}-%d{yyyy-MM-dd}.log" append="false" immediateFlush="true">
            <PatternLayout>
                <Pattern>${log-pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
        </RollingFile>
        <Async name="Async">
            <AppenderRef ref="test-log-appender"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="console-log" level="info"/>
            <AppenderRef ref="Async" level="info"/>
            <AppenderRef ref="all-log-appender" level="trace"/>
            <AppenderRef ref="error-log-appender" level="error"/>
        </Root>
    </Loggers>
</Configuration>
