name: Deploy Release to GitHub and Maven Central

on:
  workflow_dispatch:
    inputs:
      release-type:
        description: What is the type of this release?
        required: true
        type: choice
        options:
          - major
          - minor
          - patch
        default: minor
      pre-release:
        description: Is this a pre-release?
        required: true
        type: boolean
        default: false

env:
  GITHUB_AUTH: ${{ secrets.PUSH_TOKEN }}
  PUSH_TOKEN: ${{ secrets.PUSH_TOKEN }}
  GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
  GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
  NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
  NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ env.PUSH_TOKEN }}

      - uses: pnpm/action-setup@v4

      - name: Setup Node v18
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Install Java and Maven
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'maven'

      - name: Restore local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ github.sha }}

      - name: Set Git Config
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ env.GPG_PRIVATE_KEY }}
          passphrase: ${{ env.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Install dependencies
        run: pnpm i

      - name: Publish pre-release version on GitHub
        if: ${{ inputs.pre-release }}
        run: pnpm release:pre${{ inputs.release-type }}

      - name: Publish stable release version on GitHub
        if: ${{ ! inputs.pre-release }}
        run: pnpm release:${{ inputs.release-type }}

      - name: Release package to Maven central
        uses: WasiqB/maven-publish-action@v2
        with:
          gpg_private_key: ${{ env.GPG_PRIVATE_KEY }}
          gpg_passphrase: ${{ env.GPG_PASSPHRASE }}
          server_username: ${{ env.NEXUS_USERNAME }}
          server_password: ${{ env.NEXUS_PASSWORD }}
          maven_profiles: release
          server_id: central
          settings_path: ${{ github.workspace }}/core-java/setting/settings.xml
          directory: ${{ github.workspace }}/core-java
          maven_args: -DskipTests -Dcheckstyle.skip
